const poolData = {
  UserPoolId: 'xxx', // Your user pool id here
  ClientId: 'yyy', // Your client id here
};
const phoneNumber = "+81XXYYYYZZZZ"
const endpoint = "https://<api-id>.execute-api.<region>.amazonaws.com/Prod/otp"
